<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>amulet_1</key>
	<dict>
		<key>dx</key>
		<integer>-20</integer>
		<key>dy</key>
		<integer>31</integer>
		<key>scale</key>
		<real>0.6</real>
	</dict>
	<key>amulet_2</key>
	<dict>
		<key>dx</key>
		<integer>-17</integer>
		<key>dy</key>
		<integer>25</integer>
		<key>scale</key>
		<real>0.5</real>
	</dict>
	<key>amulet_3</key>
	<dict>
		<key>dx</key>
		<integer>-16</integer>
		<key>dy</key>
		<integer>17</integer>
		<key>scale</key>
		<real>0.5</real>
	</dict>
	<key>amulet_4</key>
	<dict>
		<key>dx</key>
		<integer>-12</integer>
		<key>dy</key>
		<integer>34</integer>
		<key>scale</key>
		<real>0.5</real>
	</dict>
	<key>amulet_5</key>
	<dict>
		<key>dx</key>
		<integer>0</integer>
		<key>dy</key>
		<integer>34</integer>
		<key>scale</key>
		<real>0.5</real>
	</dict>
	<key>amulet_6</key>
	<dict>
		<key>dx</key>
		<integer>0</integer>
		<key>dy</key>
		<integer>36</integer>
		<key>scale</key>
		<real>0.5</real>
	</dict>
	<key>amulet_7</key>
	<dict>
		<key>dx</key>
		<integer>-16</integer>
		<key>dy</key>
		<integer>30</integer>
		<key>scale</key>
		<real>0.5</real>
	</dict>
	<key>amulet_8</key>
	<dict>
		<key>dx</key>
		<integer>-17</integer>
		<key>dy</key>
		<integer>33</integer>
		<key>scale</key>
		<real>0.5</real>
	</dict>
	<key>amulet_9</key>
	<dict>
		<key>dx</key>
		<integer>-21</integer>
		<key>dy</key>
		<integer>38</integer>
		<key>scale</key>
		<real>0.5</real>
	</dict>
	<key>amulet_10</key>
	<dict>
		<key>dx</key>
		<integer>-21</integer>
		<key>dy</key>
		<integer>32</integer>
		<key>scale</key>
		<real>0.5</real>
	</dict>
	<key>amulet_11</key>
	<dict>
		<key>dx</key>
		<integer>-18</integer>
		<key>dy</key>
		<integer>31</integer>
		<key>scale</key>
		<real>0.55</real>
	</dict>
	<key>amulet_12</key>
	<dict>
		<key>dx</key>
		<integer>-20</integer>
		<key>dy</key>
		<integer>31</integer>
		<key>scale</key>
		<real>0.5</real>
	</dict>
</dict>
</plist>
