<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ShadowTEMPLATE</key>
	<dict>
		<key>shadow</key>
		<dict>
			<key>color</key>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>1</integer>
			</array>
			<key>offset</key>
			<array>
				<integer>0</integer>
				<integer>-1</integer>
			</array>
		</dict>
	</dict>
	<key>StrokeTEMPLATE</key>
	<dict>
		<key>stroke</key>
		<dict>
			<key>color</key>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<key>size</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>LightShadow</key>
	<dict>
		<key>shadow</key>
		<dict>
			<key>color</key>
			<array>
				<real>1</real>
				<real>0.91</real>
				<real>0.65</real>
				<real>0.6</real>
			</array>
			<key>offset</key>
			<array>
				<integer>0</integer>
				<integer>-1</integer>
			</array>
		</dict>
	</dict>
	<key>VeryLightShadow</key>
	<dict>
		<key>shadow</key>
		<dict>
			<key>color</key>
			<array>
				<integer>1</integer>
				<real>0.9686</real>
				<real>0.9098000000000001</real>
				<real>0.9</real>
			</array>
			<key>offset</key>
			<array>
				<integer>0</integer>
				<integer>-1</integer>
			</array>
		</dict>
	</dict>
	<key>BrownUpShadow</key>
	<dict>
		<key>shadow</key>
		<dict>
			<key>color</key>
			<array>
				<real>0.5608</real>
				<real>0.3882</real>
				<real>0.2594</real>
				<integer>1</integer>
			</array>
			<key>offset</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
			</array>
		</dict>
	</dict>
	<key>CreamStroke2</key>
	<dict>
		<key>stroke</key>
		<dict>
			<key>color</key>
			<array>
				<real>0.8588</real>
				<real>0.7725</real>
				<real>0.6314</real>
			</array>
			<key>size</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>VeryLightYellowStroke2</key>
	<dict>
		<key>stroke</key>
		<dict>
			<key>color</key>
			<array>
				<integer>1</integer>
				<real>0.9882</real>
				<real>0.8391999999999999</real>
			</array>
			<key>size</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>RedBrownStroke</key>
	<dict>
		<key>stroke</key>
		<dict>
			<key>color</key>
			<array>
				<real>0.4706</real>
				<real>0.1882</real>
				<real>0.0275</real>
			</array>
			<key>size</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>RedBrownStroke2</key>
	<dict>
		<key>stroke</key>
		<dict>
			<key>color</key>
			<array>
				<real>0.4706</real>
				<real>0.1882</real>
				<real>0.0275</real>
			</array>
			<key>size</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>LightRedStroke2</key>
	<dict>
		<key>stroke</key>
		<dict>
			<key>color</key>
			<array>
				<real>0.8824</real>
				<real>0.3569</real>
				<real>0.2157</real>
			</array>
			<key>size</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>DarkBrownStroke</key>
	<dict>
		<key>stroke</key>
		<dict>
			<key>color</key>
			<array>
				<real>0.3098</real>
				<real>0.1295</real>
				<real>0.0275</real>
			</array>
			<key>size</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>VeryDarkBrownStroke</key>
	<dict>
		<key>stroke</key>
		<dict>
			<key>color</key>
			<array>
				<real>0.1569</real>
				<real>0.098</real>
				<real>0.0588</real>
			</array>
			<key>size</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>VeryDarkBrownStroke2</key>
	<dict>
		<key>stroke</key>
		<dict>
			<key>color</key>
			<array>
				<real>0.1569</real>
				<real>0.098</real>
				<real>0.0588</real>
			</array>
			<key>size</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>BrownStroke2</key>
	<dict>
		<key>stroke</key>
		<dict>
			<key>color</key>
			<array>
				<real>0.39</real>
				<real>0.23</real>
				<integer>0</integer>
			</array>
			<key>size</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>BlueStroke</key>
	<dict>
		<key>stroke</key>
		<dict>
			<key>color</key>
			<array>
				<real>0.0353</real>
				<real>0.1922</real>
				<real>0.2157</real>
			</array>
			<key>size</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>BlueStroke2</key>
	<dict>
		<key>stroke</key>
		<dict>
			<key>color</key>
			<array>
				<real>0.0353</real>
				<real>0.1922</real>
				<real>0.2157</real>
			</array>
			<key>size</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>DarkBlueStroke2</key>
	<dict>
		<key>stroke</key>
		<dict>
			<key>color</key>
			<array>
				<integer>0</integer>
				<real>0.1059</real>
				<real>0.1529</real>
			</array>
			<key>size</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>DarkBlueStroke3</key>
	<dict>
		<key>stroke</key>
		<dict>
			<key>color</key>
			<array>
				<integer>0</integer>
				<real>0.1059</real>
				<real>0.1529</real>
			</array>
			<key>size</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>GreenStroke3</key>
	<dict>
		<key>stroke</key>
		<dict>
			<key>color</key>
			<array>
				<real>0.0275</real>
				<real>0.298</real>
				<real>0.0431</real>
			</array>
			<key>size</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>DarkGreenStroke2</key>
	<dict>
		<key>stroke</key>
		<dict>
			<key>color</key>
			<array>
				<real>0.0235</real>
				<real>0.2353</real>
				<real>0.0431</real>
			</array>
			<key>size</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>DarkGreenStroke3</key>
	<dict>
		<key>stroke</key>
		<dict>
			<key>color</key>
			<array>
				<real>0.0235</real>
				<real>0.2353</real>
				<real>0.0431</real>
			</array>
			<key>size</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>BlackStroke2</key>
	<dict>
		<key>stroke</key>
		<dict>
			<key>color</key>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<key>size</key>
			<integer>2</integer>
		</dict>
	</dict>
</dict>
</plist>
